@font-face {
  font-family: "Inter";
  src: url("./Inter-VariableFont_slnt_wght.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "StyleScript";
  src: url("./StyleScript-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "STSong";
  src: url("./STSong.woff") format("woff");
  font-weight: 300;
}
